#title {
    margin-bottom: 0px;
    color: white;
  }
  
  #subtitle {
    margin-top: 0px;
    color: white;
  }
  
  #container {
    text-align: center;
  }
  
  #msg-input, #msg-response, #msg-send {
    font-weight: 300;
    font-size: small;
    color: white;

  }
  
  #msg-input {
    width: 80%;
    height: 30px;
  }
  
  #msg-send {
    height: 33px;
  }
  
  #msg-response {
    border: 2px solid rgb(224, 223, 232);
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }